@model Interesse

@* TEXTO PRINCIPAL DA PÁGINA *@

<div class="container-fluid">
    <div class="row mt-6">
        <div class="col-md-6">
            <div class="offset-md-1 col-10">
                <div class="text-center my-5">
                    <h1>Iniciativa Saúde da Cidade</h1>
                </div>
                <div class="justify-content-center my-5">
                    <p>
                        Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul
                        copiosae
                        legendos
                        at vix ad putent delectus delicata usu. Vidit dissentiet eos eum an brute copiosae hendrerit.
                    </p>
                    <p>
                        Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul
                        copiosae
                        legendos
                        at vix ad putent delectus delicata usu. Vidit dissentiet eos eum an brute copiosae hendrerit.
                    </p>
                </div>
            </div>
        </div>

@* IMAGEM PRINCIPAL DA PÁGINA *@
        <div class="col-md-6">
            <img src="/img/woman-running.jpg" alt="running woman" width="90%">
        </div>
    </div>
</div>


@* NEWSLETTER E ICONES DE OPÇÕES *@

<div class="container-fluid">
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <div class="col-md-10 offset-md-1 border border-dark" id="frm">
                <h2>Entre em contato!</h2>
                <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>

                @* FORMULÁRIO *@
                @* <form action="/Home/Cadastrar" method="POST" id="frmCadastro"> *@
                <form id="frmCadastro" method="POST">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <label asp-for="Nome">Nome:</label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Nome" id="nome"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><label asp-for="Email">Email:</label></div>
                            <div class="col-md-9"><input asp-for="Email" id="email" /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><label asp-for="Mensagem">Mensagem (opcional):</label></div>
                            <div class="col-md-9"><textarea asp-for="Mensagem" id="mensagem"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><input type="submit" value="Enviar" class="mb-3" id="btnSubmit" /></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>



@* LINKS PARA AGENDA, DICAS E APOIADORES *@
        <div class="col-md-6 mt-3">
            <div class="row ml-4">
                <div class="col-md-4 justify-content-around">
                    <figure class="figure">
                        <img src="/img/calendar.png" alt="Agenda" class="figure-img img-fluid rounded" width="100px">
                        <figcaption class="figure-caption text-center">
                            <a href="#" data-toggle="modal" data-target="#AgendaDeEventos">Agenda de
                                eventos</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 justify-content-around">
                    <figure class="figure">
                        <img src="/img/tips.png" alt="Tips" class="figure-img img-fluid rounded" width="100px">
                        <figcaption class="figure-caption text-center">
                            <a href="#" data-toggle="modal" data-target="#DicasDeVidaSaudavel">Dicas de vida
                                saudável</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 justify-content-around">
                    <figure class="figure">
                        <img src="/img/supporters.png" alt="Supporters" class="figure-img img-fluid rounded"
                            width="100px">
                        <figcaption class="figure-caption text-center">
                            <a href="#" data-toggle="modal" data-target="#Apoiadores">Apoiadores</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>



@* Modal AgendaDeEventos *@
<div class="modal fade" id="AgendaDeEventos" tabindex="-1" role="dialog" aria-labelledby="exempAgendaDeEventos"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded-2" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Agenda</h5>
            </div>
            <div class="modal-body">
                <p>01/01/01 01:01 - Evento 1</p><br>
                <p>Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae</p>
                <br>
                <p>01/01/01 01:01 - Evento 1</p><br>
                <p>Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae</p>
                <br>
                <p>01/01/01 01:01 - Evento 1</p><br>
                <p>Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae</p>
                <br>

            </div>
        </div>
    </div>
</div>



@* Modal DicasDeVidaSaudavel *@
<div class="modal fade" id="DicasDeVidaSaudavel" tabindex="-1" role="dialog" aria-labelledby="exempDicasDeVidaSaudavel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Dicas de Vida Saudável</h5>
            </div>
            <div class="modal-body">

                <p>Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos
                    at vix ad putent delectus delicata usu. Vidit dissentiet eos eum an brute copiosae hendrerit.</p>
                <br>

                <p>Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos
                    at vix ad putent delectus delicata usu. Vidit dissentiet eos eum an brute copiosae hendrerit.</p>
                <br>

                <p>Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos
                    at vix ad putent delectus delicata usu. Vidit dissentiet eos eum an brute copiosae hendrerit.</p>
                <br>

            </div>
        </div>
    </div>
</div>


@* Modal Apoiadores *@
<div class="modal fade" id="Apoiadores" tabindex="-1" role="dialog" aria-labelledby="exempApoiadores"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Dicas de Vida Saudável</h5>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3" src="/img/image.png" alt="Imagem de exemplo genérica" width="50px">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Empresa 1</h5>
                            Cras sit amet nibh libero, in gravida nulla.
                        </div>
                    </li>
                    <li class="media my-4">
                        <img class="mr-3" src="/img/image.png" alt="Imagem de exemplo genérica" width="50px">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Empresa 2</h5>
                            Cras sit amet nibh libero, in gravida nulla.
                        </div>
                    </li>
                    <li class="media">
                        <img class="mr-3" src="/img/image.png" alt="Imagem de exemplo genérica" width="50px">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Empresa 3</h5>
                            Cras sit amet nibh libero, in gravida nulla.
                        </div>
                    </li>
                    <li class="media my-4">
                        <img class="mr-3" src="/img/image.png" alt="Imagem de exemplo genérica" width="50px">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Empresa 4</h5>
                            Cras sit amet nibh libero, in gravida nulla.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>